<div class="card">
    <div class="card-body">
      <h4 class="card-title">Filters</h4>

      <div class="row">
        <section class="app" >
            <form action="{% url 'home' %}" method="post">
              {% csrf_token %}
              {% for item in range_date %}
              <article class="feature-week">
                <input type="checkbox" name='weeks' id="feature1" class="week-input" value={{ item }}>
                <div>
                  <span>
                    {{ item }}
                  </span>
                </div>
              </article>
              {%endfor%}  
        </section>
        <section class="app">
          {% for item in divisions %}
          <article class="feature-division">
            <input type="checkbox" id="feature1" name="divisions" class="division-input" value={{ item.name }}>
            <div>
              <span>
                {{ item.name }}
              </span>
            </div>
          </article>
          {%endfor%}  
        </section>
        <section class="app" style="display: flex;justify-content: space-evenly;margin-top: 10px;">

          <div class="select2-primary" style="width: 40%;height: 90px;overflow-y: auto;">
            <select name='profit_center' id='cp' class="select2 select2-hidden-accessible" multiple="" data-placeholder="Select a Profit center" data-dropdown-css-class="select2-primary" style="width: 100%;"  tabindex="-1" aria-hidden="true">
              <option selected disabled>Profit Center: </option>
              {% for item in profits %}
              <option {{ item.name }}> {{ item.name }} </option>
              {%endfor%}  

            </select>
          </div>

          <div class="select2-primary" style="width: 40%;height: 90px;overflow-y: auto;">
            <select name='organisations' id='organisations' class="select2 select2-hidden-accessible" multiple="" data-placeholder="Select a Profit center" data-dropdown-css-class="select2-primary" style="width: 100%;" tabindex="-1" aria-hidden="true">
              <option selected disabled>Organisations: </option>
              {% for item in organisations %}
              <option {{ item.name }}> {{ item.name }} </option>
              {%endfor%}  
            </select>
          </div> 

        </section>
      </div>
    </div>

    <div class="border-top">
      <div class="card-body">
        <center>
          <button type="submit" class="btn btn-primary" style="width: 200px;margin-top: 20px;">Submit</button>
      </center>
      </div>
    </div>
  </form>
</div>

  







