{% extends 'base.html' %}

{%block content%}

<div class="row">
    <div class="col-lg-3 offset-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Latest Posts</h4>
          </div>
          <div class="comment-widgets scrollable ps-container ps-theme-default" data-ps-id="867e6175-7dea-c723-5a6d-513c8c2842a6">
            <!-- Comment Row -->
            <div class="d-flex flex-row comment-row mt-0">
              <div class="p-2">
                <img src="../assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle">
              </div>
              <div class="comment-text w-100">
                <h6 class="font-medium">James Anderson</h6>
                <span class="mb-3 d-block">Lorem Ipsum is simply dummy text of the printing and
                  type setting industry.
                </span>
                <div class="comment-footer">
                  <span class="text-muted float-end">April 14, 2021</span>
                  <button type="button" class="btn btn-cyan btn-sm text-white">
                    Edit
                  </button>
                  <button type="button" class="btn btn-success btn-sm text-white">
                    Publish
                  </button>
                  <button type="button" class="btn btn-danger btn-sm text-white">
                    Delete
                  </button>
                </div>
              </div>
            </div>
            <!-- Comment Row -->
            <div class="d-flex flex-row comment-row">
              <div class="p-2">
                <img src="../assets/images/users/4.jpg" alt="user" width="50" class="rounded-circle">
              </div>
              <div class="comment-text active w-100">
                <h6 class="font-medium">Michael Jorden</h6>
                <span class="mb-3 d-block">Lorem Ipsum is simply dummy text of the printing and
                  type setting industry.
                </span>
                <div class="comment-footer">
                  <span class="text-muted float-end">May 10, 2021</span>
                  <button type="button" class="btn btn-cyan btn-sm text-white">
                    Edit
                  </button>
                  <button type="button" class="btn btn-success btn-sm text-white">
                    Publish
                  </button>
                  <button type="button" class="btn btn-danger btn-sm text-white">
                    Delete
                  </button>
                </div>
              </div>
            </div>
            <!-- Comment Row -->
            <div class="d-flex flex-row comment-row">
              <div class="p-2">
                <img src="../assets/images/users/5.jpg" alt="user" width="50" class="rounded-circle">
              </div>
              <div class="comment-text w-100">
                <h6 class="font-medium">Johnathan Doeting</h6>
                <span class="mb-3 d-block">Lorem Ipsum is simply dummy text of the printing and
                  type setting industry.
                </span>
                <div class="comment-footer">
                  <span class="text-muted float-end">August 1, 2021</span>
                  <button type="button" class="btn btn-cyan btn-sm text-white">
                    Edit
                  </button>
                  <button type="button" class="btn btn-success btn-sm text-white">
                    Publish
                  </button>
                  <button type="button" class="btn btn-danger btn-sm text-white">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 3px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
        </div>
    </div>
</div>


{%endblock content%}